*{
    margin: 0;
    padding: 0;
}

body{
background-color: #07112A;
    
}

#header {
    background-color: #07112A;
    height: 220px;
}

#main{

}

#header h2{
    color: white;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 220px;
}

#navbar {
    padding: 5px;
    background-color: #020612;
    color: white;
    text-decoration: none;
    border-top: dashed 2px white;
    border-bottom: dashed 2px white;
    text-align: center;
}

#navbar a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
   // height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  
margin: 10px;
}

#navbarSort{
    margin-top: -55px;
}

#navbarSort a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
    
}

#main{
    height: auto;
    min-height: 350px;
    background-color: #07112A;
    margin-left: auto;
    margin-right: auto;
}

.imageHolder {
  //  padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: dashed 2px rgba(255,255,255,0.35);
    display: inline-block;
    margin-top: 25px;
    margin-left: 45px;

}

.imageHolder img{
    
    width: 275px;
    height: 190px;
   // border: dashed 2px white;
    margin-left: auto;
    margin-right: auto;
    border-bottom: dashed 2px white;
    border-bottom: dashed 2px rgba(255,255,255,0.35);
}

.imageHolderStuff {
    text-align: center;
   // border-top: dashed 2px white;
    
}

.imageHolderStuff img{
    width: 20px;
    height: 18px;
    border: none;
    margin-left: 20px;
    
}

.score {
    color: #fff;
    font-weight: bolder;
    margin-left: 20px;
    
}

.title{
text-align: center;
color: #fff;
font-size: 22px;
border-bottom: dashed 2px white;
border-bottom: dashed 2px rgba(255,255,255,0.35);
}

.errorMess{
margin-top: 10px;
color: red;
font-size: 18px;
}

#uploadMain{
margin: 25px;
height: 215px;
width: 315px;
color: white;
border: dashed 2px rgba(255,255,255,0.35);
margin-left: auto;
margin-right: auto;
text-align: center;
}

.button{

margin-left: 60px;
}

.voted
{
    opacity: 0.3;
}







