*{
    margin: 0;
    padding: 0;
}

body{

    
}

#header {
    background-color: #2980b9;
    height: 220px;
}

#header h2{
    color: white;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 220px;
}

#navbar {
    padding: 5px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-top: dashed 2px white;
    border-bottom: dashed 2px white;
    text-align: center;
}

#navbar a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  
}

#main{
    height: auto;
    min-height: 333px;
    background-color: #d35400;
    margin-left: auto;
    margin-right: auto;
}

.imageHolder {
  //  padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: dashed 2px white;
    display: inline-block;
    margin-top: 25px;
    margin-left: 50px;
}

.imageHolder img{
    
    width: 275px;
    height: 190px;
   // border: dashed 2px white;
    margin-left: auto;
    margin-right: auto;
    border-bottom: dashed 2px white;
}

.imageHolderStuff {
    text-align: center;
   // border-top: dashed 2px white;
    
}

.imageHolderStuff img{
    width: 20px;
    height: 18px;
    border: none;
    margin-left: 20px;
    
}

.score {
    color: #fff;
    font-weight: bolder;
    margin-left: 20px;
    
}

