body{
    background-color: #34495e;
}

#header {
    background-color: #2980b9;
    height: 220px;
}

#header h2{
    color: white;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 220px;
}

#navbar {
    padding: 5px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-top: dashed 2px white;
    border-bottom: dashed 2px white;
    text-align: center;
}

#navbar a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  
}

#main{
    height: 535px;
    background-color: #d35400;
    margin-left: auto;
    margin-right: auto;
}